
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
  }
  
  .menuPrincipal {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    background-color: #f8f8f8;
  }
  @media screen and (min-width: 300px) and (max-width: 1000px) {
    .menuPrincipal li {
      margin: 1rem;
      text-align: center;
    }
  }
  .menuPrincipal a {
    margin-left: 3rem;
    margin-right: 0.4rem;
    text-decoration: none;
    color: #4b4b4b;
  }
  .menuPrincipal a:hover {
    color: #FFA100;
  }
  .menuPrincipal button {
    background-color: #A705C4;
  }

  .fbMexico {
    position: fixed;
    top: 20%;
    right: 0;
    z-index: 100;
    color: #A705C4;
    font-size: 1.5rem;
    text-align: end;
  }
  .fbMexico:hover {
    color: #0000fe;
  }
  .fbMexico i {
    background-color: white;
    padding: 0.5rem;
  }
  
  .igMexico {
    position: fixed;
    top: 28%;
    right: 0;
    z-index: 100;
    color: #A705C4;
    font-size: 1.5rem;
    text-align: end;
  }
  .igMexico:hover {
    color: #0000fe;
  }
  .igMexico i {
    background-color: white;
    padding: 0.5rem;
  }
  
  footer {
    background-color: #f8f8f8;
  }
  footer ul {
    list-style: none;
  }
  footer ul a {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: #4b4b4b;
  }
  footer ul a:hover {
    color: #FFA100;
  }
  footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    color: #4b4b4b;
  }
  @media screen and (min-width: 300px) and (max-width: 399px) {
    footer p {
      font-size: 0.5rem;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 500px) {
    footer p {
      font-size: 0.6rem;
    }
  }
  
  .logos {
    padding: 5%;
  }
  
  .redes {
    padding-top: 10%;
  }
  .redes i {
    color: #A705C4;
  }
  .redes i:hover {
    color: #FFA100;
  }
  
  
  .nosotros {
    background-color: #f8f8f8;
  }
  .argentina h2 {
    margin-left: 10%;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-left: 10%
  }
  .argentina p {
    margin-top: 1rem;
    width: 80%;
    margin-left: 10%;
  }
  
  .fondoArgentina {
    background:#A705C4;
    padding: 0!important;
  }
  .imgManhigut img {
    padding: 8% 0;
  }
  
  .manhigutArgentina {
    padding: 5%;
    background: #A705C4;
    color: white;
  }
  .manhigutArgentina img {
    margin-left: 10%;
  }
   
  .programa{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .capa {
     display: flex;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
  }

  @media screen and (min-width: 425px) and (max-width: 768px) {
    .capa{
      max-width: none !important;
    }
  }

  .listaArg {
      margin: auto;
      list-style: none;
      text-align: center;
      color: gainsboro;
      font-family: "Montserrat", sans-serif;
  }
  .botonVermas {
    background-color: #A705C4;
    border: none;
    color: white;
    margin: 0;
    width: 60%;
    padding: 6px;
  }

  .botonVermas:hover {
    color: #FFA100;
  }

  .contactoFin {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    color: #4b4b4b;
    text-align: center;

  }
  @media screen and (min-width:300px) and (max-width:375px){
    .mailContacto {
        font-size: 20px;
    }
}



  


